<h1>WebRTS Game</h1>
<% if current_user.isAdmin? %>
    You are admin man!!
<% end %>
<div id="row">
  <div class="col-md-4"></div>
  <div class="col-lg-3 col-md-4">
    <h2>Game Map</h2>
    <div id="game_map">

    </div>
  </div>
  <div class="col-md-4"></div>

</div>

<% @maps.each do |map| %>
    <%= map.x %>,<%= map.y %>
<% end %>