<h1>WebRTS Game</h1>
<% if current_user.isAdmin? %>
    You are admin man!!
<% end %>
<% @towns.each do |x| %>
    <%= x %>
<% end %>
<div id="row">
    <h2>Game Map</h2>
  <div id="game_container">
    <button id="up_button">^</button>
    <button id="left_button"><</button>
  <button id="right_button">></button>
  <div id="game_map" mapstart="50,50" mapsize="12">
    </div>
    <button id="down_button">v</button>
  </div>
</div>
